$theme-root: '..';

// Set other directories relative to theme root.
$image-path: '#{$theme-root}/images';
$icon-font-path: '../../../../libraries/bootstrap/assets/fonts/bootstrap/';

$body-bg:               #000 !default;
$font-size-base:          40px !default;
